# dbt compiled files
target/
/target/
dbt_packages/
/dbt_packages/
logs/
/logs/
dbt_modules/
/dbt_modules/

edr_target/

# dbt-specific files
.user.yml
partial_parse.msgpack
perf_info.json
semantic_manifest.json
manifest.concurrent-update-lock

.env
.env.bak

# snowflake pkey
*.p8

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/PythonSettings.json
!.vscode/python.code-snippets
*.codeworkspace
.history/

# IntelliJ / PyCharm
.idea
.idea/*
.run/*


# Python
__pycache__/
.pytest_cache
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg
.installed.cfg
*.swp
MANIFEST
.venv
*.python-version

# Python Testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/



### Taskfiles
.task/checksum/*


# Jupyter notebooks
.ipynb_checkpoints
notebooks/playground/*
!notebooks/playground/.gitkeep

logs/
.qodo

# Dagster files
.tmp_dagster_home_*
dagster_home/
.dagster/
*.db
*.db-shm
*.db-wal

# Dagster temporary files
.dagster_storage/
dagster-webserver.pid
dagster-daemon.pid

#keys
.keys/
